@charset "utf-8";
/* CSS Document */
@media (min-width:320px) and (max-width:576px)
{
	.index_3_container
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 110vh;
	position: relative;
	background: rgb(233, 234, 241);
}
.index_3_container::after
{
	content: "";
	display: block;
	clear: both;
}
.background
{
	margin-top: 100px;
	width: 100%;
	height:auto;
	margin-left: auto;
	margin-right: auto;
	background: url(../images/index_3photo/background.PNG) repeat-x;
	display: flex;
	justify-content: space-around;
	border: 1px solid #ccc;
}
.background_img
{
	width: 50%;
	margin-top: 3%;
}
.background_img img
{
	width: 100%;
	height: 90%;
}
.background_text
{
	width: 50%;
	margin-top: 3%;
}
.background_text h1
{
	font-size: 20px;
	border-bottom: 1px solid #ccc;
	margin-left: 10px;
}
.background_text ul
{
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
	width: 100%;
	height: 70%;
	margin-top: 3%;
}
.background_text ul li
{
	width: 60%;
	height: 10%;
	padding: 2%;
	text-align: left;
	font-size: 14px;
	line-height: 10px;
	font-family: AppleSDGothicNeoSB;
	color: #757578;
}
.background_text ul li span
{
	float: right;
}
div.notice_text
{
	background-color:white;
	position: absolute;
	top: 00.5px;
	width: 100%;
	height: 90%;
	position: relative;
	background: rgb(233, 234, 241);
}
div.notice_text
{
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
	padding: 30px;
	overflow: hidden;
}
div.notice_text li
{
	width: 100.0%;
	margin-bottom: 20px;
	font-size: 14px;
	font-family: malgum;
	color:black;
}
div.notice_text li span
{
	float: right;
	width: 50%;
	display: block;
	border: 1px soid black;
}
input[type="radio"]
		{
			display: none;
		}
		input[type="radio"] + label
		{
			display: inline-block;
			padding: 20px;
			background: #ccc;
			color: #999;
			font-size: 14px;
			cursor: pointer;
		}
		input[type="radio"]:checked + label
		{
			background: #aaa;
			color: #000;
			
		}
		.conbox
		{
	width: 100%;
	height: 700px;
	position: relative;
			display: none;
			font-family: malgum;
			border: 3px solid #ccc;
		}
		
		input[id="tab01"]:checked ~ .con1{display: flex;}
		input[id="tab02"]:checked ~ .con2{display: block;}

.tab_content
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	
}
/*swipe*/
.con2 {
        position: absolute;
	width: 100%;
        height: 700px;
	margin-left: auto;
	margin-right: auto;
      }

    .con2 {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        margin: 0;
        padding: 0;
      }

      .swiper-container {
        width: 100%;
        height: 80%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box flex;
        display: -ms-flexbox flex;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
      }

 

      .swiper-container {
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
      }

      .swiper-slide {
        background-size: cover;
        background-position: center;
      }

      .mySwiper2 {
        height: 100%;
        width: 100%;
      }

      .mySwiper {
        height: 20%;
        box-sizing: border-box;
        padding: 10px 0;
      }

      .mySwiper .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: 0.4;
      }

      .mySwiper .swiper-slide-thumb-active {
        opacity: 1;
      }

.swipe_topbox {
	position: relative;
	width: 100%;
	height: 0px;
	top: 0px;
}
}
