@charset "utf-8";
/* CSS Document */

@media (min-width:320px) and (max-width:576px)
{
	body,html
	{
		overflow-x: hidden !important;
		max-width: 100%;
	}
	body
	{
		height: auto;
		position: relative;
	}
.header
	{
		display: none;
	}
	.container
{
	width:100%;
	height: auto;
	background-color: #102631;
	background-attachment: fixed;
	background-size: cover;
}
	

/*모바일 메뉴*/
.mobile_header
{
	display: block;
	width:100%;
	height: 100px;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 100;
	background-color: #f6eddc;
}
.mobile_header>ul.mobile_menu
{
	display: flex;
	width:200px;
	height: auto;
	justify-content: space-around;
	flex-flow: column wrap;
	position: absolute;
	z-index: 10;
	top:80px;
	left: 0px;
	background-color: #f6eddc;
	display: none;
}
.mobile_header> ul.mobile_menu> li
{
	width:200px;
	height: auto;
	text-align: left;
	border-bottom: 1px solid white;
}

	.mobile_header> ul.mobile_menu> li:last-child
	{
		height: 700px;
	}
.mobile_header >ul.mobile_menu> li> a
{
	color: black;
	display: block;
	padding: 10px 5px;
	font-size: 22px;
	position: relative;
}
.mobile_header > a.logo
{
	width: 180px;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
	.mobile_header > a > img
	{
		width: 100%;
		margin-top: 20px;
	}
	/*모바일 서브 메뉴*/
	.mobile_submenu
	{
		display: none;
		width: 100%;
		height: auto;
	}
	.mobile_submenu li
	{
		border-bottom: 1px solid white;
		width: 100%;
		height: auto;
		background-color: black;
	}
	.mobile_submenu li a
	{
		padding: 5px 5px;
		display: block;
		font-size: 22px;
		color: #f6eddc;
	}
	
	
	.down
	{
	display: inline-block;
	width: 15px;
	height: 15px;
	border-top: 2px solid black;
	border-right: 2px solid black;
	transform: rotate(135deg);
	transform-origin: 100% 50%;
	position: absolute;
		top: 15px;
		right: 30px;
	}
	.up
	{
	display: inline-block;
	width: 15px;
	height: 15px;
	border-top: 2px solid black;
	border-right: 2px solid black;
	transform: rotate(-45deg);
	transform-origin: 100% 50%;
	position: absolute;
		top: 15px;
		right: 20px;
	}
	
	/*트리거 버튼*/
	.mobile_header #trigger
	{
		display: block;
		position: absolute;
		width: 40px;
		height: 30px;
		top: 35px;
		left: 25px;
		z-index: 100;
	}
	.mobile_header #trigger span
	{
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 5px;
		background-color: rgba(0,0,0,1.00);
		color: transparent;
		transform: translate(0,-50%);
		transition: all 0.5s;
	}
	.mobile_header #trigger span::before
	{
		content: "";
		position: absolute;
		left: 0;
		top: 10px;
		width: 100%;
		height: 5px;
		background-color: rgba(0,0,0,1.00);
		transition: all 0.5s;
	}
	.mobile_header #trigger span::after
	{
		content: "";
		position: absolute;
		left: 0;
		top: 20px;
		width: 100%;
		height: 5px;
		background-color: rgba(0,0,0,1.00);
		transition: all 0.5s;
	}
	.mobile_header #trigger.onn span
	{
		background-color: rgba(0,0,0,0);
	}
	.mobile_header #trigger.onn span::before
	{
		top: 10px; transform: rotate(45deg);
	}
	.mobile_header #trigger.onn span::after
	{
		top: 10px; transform: rotate(-45deg);
	}
	
	/*mobile_slider*/

.slider_box
{
	display: none;
}
.bx-wrapper
	{
		opacity: 0;
		display: none;
	}
	
	/*유튜브 박스*/
	.youtube_box
	{
		height: 50px;
	}
.youtube_play
	{
		display: none;
	}

.youtube_box span
	{
		font-size: 1.2em;
	display: inline-block;
	width: auto;
	height: 30px;
	position: relative;
	left: 3%;
	top: 20%;
	color: #f6eddc;
	}
.mobile_youtube_play
	{
		display: block;
		position: relative;
		width: 90%;
		height: 300px;
		margin-left: auto;
		margin-right: auto;
	}
	.mobile_youtube
	{
		width: 100%;
		height: 100%;
	}
	/*best model*/

.best_model
{
	width:90%;
	height: 100px;
	background-color: #f1f2f3;
	text-align: center;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
	
}
.best_model >h1 {
  position: relative;
  letter-spacing: 6px;
  font-size: 54px;
	line-height: 150%;
  text-decoration: none;
  color: #102631;
  display: inline-block;
  animation: .8s shake infinite alternate;
}
.best_model_imgbox > article > span
{
	font-family: malgum;
	display: block;
	font-size: 1.4em;
	color: black;
	text-align: center;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}
/*best model img*/
section.best_model_imgbox
{
	width:90%;
	position: relative;
}
section.best_model_imgbox > article
{
	width:100%;
	position: relative;
	
}
	section.best_model_imgbox > article:nth-child(2),
	section.best_model_imgbox > article:nth-child(3)
	{
		display: none;
	}
section.best_model_imgbox > article > a
{
	width:100%;
}
section.best_model_imgbox > article > a> img
{
	width:100%;
}
	
/*.serch_box*/
.search_Box
{
	width:100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}
.search {
  width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

#gallery {
	width: 100%;
	height: auto;
	position: relative;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin-left: auto;
	margin-right: auto;
}
	#gallery a:nth-child(2),
	#gallery a:nth-child(3),
	#gallery a:nth-child(4),
	#gallery a:nth-child(5),
	#gallery a:nth-child(6),
	#gallery a:nth-child(7)
	{
		display: none;
	}
#gallery a
{
	position: relative;
	width:45%;
	height: 200px;
	display: inline-block;
	vertical-align: top;
	font-family: malgum;
	margin-bottom: 10px;
	border-radius: 10px;
	background-color: #8a8a8a;
	margin-left: 2%;
	margin-bottom: 3%;
}

#gallery a .imgbox div
{
	display: none;
}

#gallery a .imgbox> img:hover
{
	display: none;
}
#gallery > a > span
{
	display: block;
	text-align: center;
	color: #f6eddc;
	margin-bottom: 20px;
	margin-top: 10px;
	font-size: 3.5vw;
}
#gallery ul
{
	width: 100%;
	position: absolute;
	bottom: 0%;
	padding-left: 50px;
}
#gallery ul li
{
	width: 100%;
	color: #f6eddc;
	display: flex;
	justify-content: space-between;
	font-size: 2vw;
	opacity: 0.7;
	margin-bottom: 5px;
	margin-left: -40px;
}
#gallery ul li span
{
	width: 60%;
	text-align: left;
}	
	
	
	/*footer*/

.map_box
{
	width:100%;
	margin-left: auto;
	margin-right: auto;
	height: 800px;
	position: relative;
	background: url(../images/Vehicle_interior/Vehicle_interior2.jpg) no-repeat center center;
	background-size: cover;
}
.map_box  .come_text 
{
	font-size: 2em;
	display: inline-block;
	width: 130px;
	height: 40px;
	opacity: 1;
	color: #B8F3B8;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
}
#map
{
	width: 80%;
	height: 40%;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	box-shadow: 3px 3px 10px 3px #333;
	opacity: 1;
}
div.map_text
{
	width:80%;
	height: 40%;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%);
	border: 3px solid black;
	font-family: SCDREAM;
	text-align: center;
	box-shadow: 3px 3px 10px 3px #333;
	background-color: white;
	opacity: 1;
}
div.map_text h5
{
	font-size: 40px;
	color:#B8F3B8;
}

div.map_text span
{
	border: 3px solid black;
	width:90%;
	height: 75%;
	margin-top: 1%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	line-height: 220%;
	position: relative;
	font-size: 14px;
}
div.map_text span img
{
	width:50px;
	height: 50px;
	
}

.company {
	display: none;
}
.media {
	display: none;
}

	
}/*모바일 끝*/
.mobile_bg {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	display: none;
}
